body {
    padding: 10px;
}
.listing_img {
    width:150px;
    height:150px;
}

ul li {
    list-style: none;
}

form {
    display: table;
}

form p {
    display: table-row;
    align-items: center;
}

p input {
    display: table-cell;
    margin: 10px 0px;
}

p label {
    display: table-cell;
}

textarea {
    vertical-align: top;
}

