body {
    padding: 10px;
}

ul li {
    list-style: none;
}

form {
    display: table;
}

form p {
    display: table-row;
    align-items: center;
}

p input {
    display: table-cell;
    margin: 10px 0px;
}

p label {
    display: table-cell;
}

textarea {
    vertical-align: top;
}

.display_description {
    display: block;
}

.display_price {
    display: block;
    font-weight: 300;
    font-size: 16px;

}

.listing_container {
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: rgba(108, 108, 108, 0.262);
    height: 200px;
    margin: 20px 0px;
    padding: 5px;
}

.display_title {
    display: block;
}

.listing_img {
    width:180px;
    height:180px;
    display:block;
    float:left;
    margin:0px 10px;
}

.listing_link {
    color: black;
    text-decoration: none;
}

.listing_ttl {
    height: 25px;
}

.listing_link:hover {
    text-decoration: none;
    color: black;
}

.error {
    font-size: 14px;
    font-weight: 350;
    color: red;
}

.comment_username {
    font-weight: bold;
    font-size: 16px;
}

.comment_time {
    font-weight: 300;
    font-size: 12px;
}

.comment {
    margin: 10px 20px;
    border-bottom-style: bold;
    border-bottom-width: 3px;

}

.tags {
    display:block;
    height: 16px;
    margin: 3px 0px;
    color: rgb(231, 231, 231);
}

.closed_msg {
    font-size: 28px;
}