{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ category }}</h2>
    <ul>
        {% for listing in listings %}
            <li>
                <a class = "listing_link" href = "{% url 'listing' listing.id %}">
                    <div class = "listing_container">
                        {% if listing.image_url %}
                            <img class = "listing_img" src = "{{ listing.image_url }}" alt = "listing_img">
                        {% endif %}
                        <div class = "text_div">
                            <h5 class = "display_title">{{ listing.title }}</h5>                 
                        
                            <div class = "display_price"> 
                                ${{ listing.current_price }}  
                            </div>

                            <div class = "display_description">
                                {{ listing.description }}
                            </div>

                        </div>
                    </div>
                </a>           
            </li>

        {% endfor %}
    </ul>

{% endblock %}