{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <ul>
        {% for listing in listings %}
            <li>
                <h4>{{ listing.title }}</h4>
                {% if listing.image_url %}
                    <img class = "listing_img" src = "{{ listing.image_url }}" alt = "listing_img">
                {% endif %}
                ${{ listing.current_price }}  
                {{ listing.description }}
                        
            </li>

        {% endfor %}
    </ul>

{% endblock %}